<div>
	<div id="filtro" class="row">
		<div class="input-field col ">
			<input type="date" name="fecha" class="datepicker" ng-model="searchdate" >
			<label for="fecha">Fecha Requisición</label>
		</div>
		<div class="input-field col">
			<input type="text" name="usuario" ng-model="search">
			<label for="ususario">Usuario</label>
		</div>
	</div>
	 <table class="highlight bordered">
        <thead>
          <tr>
              <th data-field="fecha" ng-click="sort('fecha')">Fecha de Requisición<span ng-show="sortKey=='fecha'"> <i class="tiny material-icons">grade</i></span></th>
              <th data-field="usuario" ng-click="sort('usuario_id')">Usuario<span ng-show="sortKey=='usuario_id'"> <i class="tiny material-icons">grade</i></span></th>
              <th data-field="codigo" ng-click="sort('codigo')">Codigo<span ng-show="sortKey=='codigo'"> <i class="tiny material-icons">grade</i></span></th>
              <th data-field="id" >Previsualizar</th>
              <th data-field>Imprimir</th>
          </tr>
        </thead>

        <tbody>
         <tr dir-paginate="reque in requesiciones |itemsPerPage:5|orderBy:sortKey:reverse|filter:search|filter:searchdate" >
         	<td>[[ reque.fecha | date:'yyyy-MM-dd HH:mm:ss' ]]</td>
         	<td>[[ reque.usuario_id ]]</td>
          <th>[[ reque.codigo ]]</th>
         	<td><a href="" ng-click="singleModal([[ reque.id ]])"><i class="material-icons">visibility</i></a></td>
         	<td><a href=""><i class="material-icons">print</i></a></td>
         </tr>
        </tbody>
      </table>
        <dir-pagination-controls
          max-size="5"
          direction-links="true"
          boundary-links="true" 
          template-url="/angularinv/dirPagination.tpl.html">  
        </dir-pagination-controls>
      <add-form></add-form>
      <single-requisicion></single-requisicion>
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    	<a class="btn-floating btn-large waves-effect waves-light red modal-trigger" id="addRequisicion" ng-click="openModal()"><i class="material-icons">add</i></a>
    </div>
</div>